/****** CLASSES GENÉRICAS ******/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    width: 90%;
    max-width: 375px;
    margin: 0 auto;
    
}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhamento-around-center {display: flex;
justify-content: space-around;
align-items: center;}

.alinhamento-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/****** FONTES IMPORTADAS ******/


@font-face {
    font-family: TitiliumWeb-black;
    src: url(../assets/fonts/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: TitiliumWeb-bold;
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitiliumWeb-semibold;
    src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: TitiliumWeb-regular;
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: TitiliumWeb-light;
    src: url(../assets/fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}


/****** BODY ******/


body {}



/****** HEADER ******/

header {z-index: 20;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #1B1426;
    position: fixed;
    width: 100vw;
}

/* Parte relacionada ao header top */

.header-top {
    display: none;



}


header .header-top .contatos {}

header .header-top .phone {}

header .header-top .email {}

header .header-top .redes-sociais {}


/* Parte relacionada ao header bottom */


.header-bottom {}

header .header-bottom .contatos {}

header .header-bottom .phone {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid #F9AA01;
    width: 80vw;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

header .header-bottom .email {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    margin-top: 25px;
   
}

header .header-bottom .redes-sociais {
    border-bottom: none;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 20px;
}


header .header-bottom .logo {
    height: 55px;
    width: 196px;
}
header .header-bottom nav {}


header .header-bottom nav a {
    text-decoration: none;
    border-bottom: 1px solid #F9AA01;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header .header-bottom a {
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
}

header .header-bottom .icon-menu-nav {}



header .header-bottom .menu-navegacao {
    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    z-index: 21;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    transition: left 0.4s;
}

.mostraromenu {left: 0 !important;
    }

    .mostraromenuuser {right: 0 !important;
    }

header .header-bottom .menu-navegacao a {
    margin-top: 20px;
    padding-bottom: 30px;
}


header .header-bottom nav > a:first-of-type {color: #F9AA01;}



header .header-bottom .menu-usuario {background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);
    position: fixed;
    right: -15vw;
    top: 60px;
    width: 15vw;
    padding: 10px;
    height: calc(30vh - 60px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    transition: right 0.4s;

}





header .header-bottom .icon-menu-elipse {}

#email-icon {margin-right: 15px;
}

#phone-icon {margin-right: 15px;
  }

 



















/****** MAIN ******/


/* PARTE DA PAGINA HOME */


main {
   

}

.main-flex {
    height: 606px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}

main .banner-home {
    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1.png);
    width: 100%;
    background-color: rebeccapurple;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 606px;
    margin-top: 60px;
}

main #title-main-page {
    font-family: TitiliumWeb-black;
    font-size: 40px;
    font-weight: 900;
    color: white;
    filter: drop-shadow(0px 0px 7px #FD4255);
}



main .button-sobre {
    height: 40px;
    width: 171px;
    background-color: #F9AA01;
    border-radius: 8px;
    margin-bottom: 90px;
    font-family: TitiliumWeb-bold;
    line-height: 37px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}


 /* PARTE CARDS DE JOGOS */

 .card-jogos-flex {height: 589px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}

.banner-card-jogos {background-color: #1B1426;
   height: 589px; 
   background-position: bottom;}

/* <-- quadro de link usado primeiro para testes --> */
/* .box-transparente {height: 50px;
    width: 335px;
    border: ;
    background-image: linear-gradient(to right bottom, rgba(225, 225, 225, 0.8), rgba(200, 200, 200, 0.4));
    backdrop-filter: blur(5px);}

.box-amarelo {background-color: #F9AA01;
    
    width: 200px;
    height: 40px;
    -moz-transform: scale(0.6) translate(7px, 6px) skew(-27deg, 0deg);
    -webkit-transform: scale(0.6) translate(7px, 6px) skew(-27deg, 0deg);
    -o-transform: scale(0.6) translate(7px, 6px) skew(-27deg, 0deg);
    -ms-transform: scale(0.6) translate(7px, 6px) skew(-27deg, 0deg);
    transform: scale(0.6) translate(7px, 6px) skew(-27deg, 0deg);
    } */


/* PARTE DE DESCRICAO */

.banner-descricao {
background-color: #F9AA01;


}


.descricao-flex {
height: 1535px;
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items: center;

}

#title-descricao {font-family: TitiliumWeb-black;
font-size: 18px;
text-transform: uppercase;
border-bottom: solid 2px #1B1426;
padding: 90px 0px 40px 0px;


}


/****** FOOTER ******/


/* MEDIAS QUERIES */




/* tablets >= 768px */

@media screen and (min-width: 768px) {
    
}

/* desktop >= 1200px */

@media screen and (min-width: 1200px) {

   .layout-grid { width: 100%;
max-width: 1200px;
display: flex;
justify-content: space-between;
align-items: center;
}

header .header-top .alinhamento-between-center {height: 49px;}

/* HEADER */

header {position: static;
height: 140px;}
    
header .logo {width: 200px;
margin-left: 120px;}





/* HEADER TOP */

header .header-top {display: block;
border-bottom: #F9AA01 solid 1px;
height: 49px;
}

header .header-top .contatos {display: flex;
    width: 407px;
    justify-content: space-between;
    margin-left: 106px;
    font-family: Inter;
    font-weight: normal;
    font-size: 14px;
}

header .header-top .redes-sociais {display: flex;
    justify-content: space-between;
    width: 128px;
    margin-right: 115px;
}

header .header-top .phone {color: white;
    display: flex;
    align-items: center;
    gap: 15px;
}


header .header-top .email {color: white;
    display: flex;
    align-items: center;
gap: 15px;}

/* HEADER BOTTOM */

header .header-bottom .alinhamento-between-center {height: 91px;}

header .header-bottom .menu-navegacao {position: static;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
    height: 91px;
    border: none;
    align-items: center;
    backdrop-filter: none;
}

header .header-bottom .menu-navegacao a {border:none;
}



header .header-bottom .menu-usuario {position: static;
background-color: transparent;
width: 128px;
height: auto;
flex-direction: row;
justify-content: space-between;
backdrop-filter: none;
margin-right: 115px;
}

header .header-bottom .redes-sociais,
header .icon-menu-nav,
header .icon-menu-elipse,
header .header-bottom .phone,
header .header-bottom .email


{display: none;}






/* MAIN */

main {}

}

/* <!-- PAGINA HOME --> */

main .banner-home {background-image: url(../assets/images/Banner_background_1.png);
margin-top: 0;
background-size: cover;}


main #title-main-page {
    
    font-size: 80px;}


    main .button-sobre { width: 203px;
    }




.banner-descricao {display: none}

.banner-card-jogos {display: none;}